*{padding:0px;margin:0px;}
            s{text-decoration:none;}
            #calendar1{float:left;}
            .calendar{color:#666;width:699px;margin:10px;position:relative;}
            .calendar li{list-style:none;}
            .calendar a{text-decoration:none;color:#f60;}
            .calendar .nowDate{text-align:center;font-size:16px;padding:10px 0;}
            .calendar .nowDate span{display:inline-block;width:200px;}
            .calendar .nowDate a{text-decoration:none;margin:0 10px;}
            .calendar .nowDate .prevMonth{background-position:-168px -96px;}
            .calendar .nowDate .nextMonth{background-position:-168px -120px;}
            .calendar .nowDate b{cursor:pointer;padding:0 2px;}
            .calendar .sun{color:#9b1e1e;}
            .calendar .week{background:#f8f8f8;border:1px solid #e5e5e5;font-weight:600;font-size:16px;margin-right:5px;border-radius:5px;}
            .calendar .week span{display:inline-block;text-align:center;width:98px;padding:10px 0;}
            .calendar .days li{float:left;display:block;width:92px;height:92px;border:1px solid #e5e5e5;margin:5px 5px 0 0;position:relative;border-radius:5px;}
            .calendar .days li span{margin:2px;}
            .calendar .days .gray{opacity: 0.5;border: 1px solid #ccc;filter: Alpha(Opacity=50);}
            .calendar .days .current{border:1px solid #f60;}
            .calendar .days li .d{position:absolute;bottom:0px;right:5px;font-size:15px;font-family:Trebuchet MS;font-weight:600;}

             .calendar .yearList,.calendar .monthList{height:115px;border:1px solid #e0e0e0;width:200px; position:absolute;left:50%;margin-left:-100px;background:#fff;z-index:2;border-radius:5px;top:35px;display:none;}

            .calendar .yearList ul{height:91px;}
            .calendar .yearList li{float:left;padding:6px 17px;cursor:pointer;}
            .calendar .yearList li:hover{background:#e5e5e5;}
            .calendar .yearList li.current{background:#f60;color:#fff;}

            .calendar .yearList p{padding:3px 5px;font-size:14px;font-weight:600;border-top:1px solid #e0e0e0;background:#f5f5f5;text-align:center;}
            .calendar .yearList p .prev{float:left;}
            .calendar .yearList p .next{float:right;}
            .calendar .monthList li{float:left;width:56px;text-align: center;padding:5px;cursor:pointer;}
            .calendar .monthList li:hover{background:#e5e5e5;border-radius:3px;}
            .calendar .monthList li.current{color:#fff;}
            .calendar .monthList li.current{background:#f60;border-radius:3px;}

            #calendar2{margin-left:710px;}
            #calendar2 .calendar{width:300px;}
            #calendar2 .calendar .nowDate span{width:100px;}
            #calendar2 .calendar .week span{width:41px;}
            #calendar2 .calendar .days li{width:35px;height:35px;}